{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "overrides": [
    {
      "files": [
        "./**/*"
      ],
      "rules": {
        "no-console": [
          "error",
          {
            "allow": [
              "info",
              "warn",
              "trace",
              "error"
            ]
          }
        ]
      }
    }
  ]
}
